:host /deep/ .mat-expansion-panel-header {
  background-color: rgb(0, 0, 45) !important;
}
:host /deep/ .mat-expansion-panel {
  background-color: rgb(0, 0, 45) !important;
}
.mat-expansion-panel {
  background-color: rgb(0, 0, 45) !important;
}
::ng-deep .mat-expansion-indicator:after {
  color: white;
}
.drink-list {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: rgb(0, 0, 45);
  color: white;

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
}
