.bars-list {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;

  &__item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__status {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
  }
  &__fade-overlay {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 1px 5px #141414;
    -moz-box-shadow: 0 1px 5px #141414;
    box-shadow: 0 1px 5px #141414;
    position: relative;
  }
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.4);
  }
  &__details * {
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
      0.5px 0.5px 0 #000;
  }
}
