:host /deep/ {
  display: flex;
  flex-direction: column;
  height: 100%;
}
input {
  width: 100%;
}
mat-form-field {
  width: 100%;
}
:host /deep/ .mat-select-value-text {
  color: white;
}
button {
  margin: 0 auto;
}
.error {
  color: red;
}
h3,
h4,
h5 {
  margin: 0;
}
.drink-details {
  width: 100%;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__description {
    margin-top: 10px;
  }
}
.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__select {
    width: 50px;
  }
  &__option {
    text-align: center;
  }
}
.total {
  width: 100%;

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }
}
