.page-header {
  padding: 20px 0;
}
.order-panel {
  &__header {
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
  }
}
.order-list {
  background-color: #333333;
  color: white;
}
.tracker {
  margin: 0 5%;
  &__status {
  }
}

:host /deep/ .mat-expansion-panel {
  background-color: #333333;
}
::ng-deep .mat-expansion-indicator:after {
  color: white;
}
