<div class="employee-status-list">
  <h2 class="text-center accent employee-status-title">Employee Statuses</h2>
  <div class="employee-status-actions">
    <button color="warn" class="employee-status-action-button" mat-raised-button>Sign Out</button>
    <button color="primary" class="employee-status-action-button" mat-raised-button>Sign In</button>
  </div>
  <div class="employee-list">
    <ng-container *ngIf="employees as employees; else loading">

    </ng-container>
    <ng-template #loading>
      <div class="spinner-spacing">
        <div class="loading-spinner"></div>
        <p class="text-center">Loading Employees...</p>
      </div>
    </ng-template>
  </div>
</div>