.employee-status-title {
  margin: 0;
  padding: 20px 0px;
}

.employee-status-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.employee-status-actions {
  display: flex;
  width: 100%;
}

.employee-status-action-button {
  width: 50%;
  height: 64px;
  font-size: 20px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.employee-list {
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
}

.employee {
  font-size: 24px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px;
  margin: 0px;
}
