.employee-status-title {
  margin: 0;
  padding: 20px 0px;
}

.employee-status-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.employee-status-actions {
  display: flex;
  width: 100%;
}

.employee-status-action-button {
  width: 50%;
  height: 64px;
  font-size: 20px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.employee-list {
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
}

.employee-container {
  padding: 0px 10px;
  margin: 10px 0px;
}

.employee {
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  min-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
}
