:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  input {
    width: 100%;
  }
  mat-form-field {
    width: 100%;
  }
  :host /deep/ .mat-form-field-label {
    color: white;
  }
  
  button {
    margin: 0 auto;
  }
  .error {
    color: red;
    background-color: #222222;
    font-family: 'Helvetica Neue', sans-serif;
  }
  