<div class="statuses">
  <h2 class="text-center primary status-list-title">Order Statuses</h2>
  <div class="order-list">
    <ng-container *ngIf="orders; let orders; else loading">
      <app-order-status class="clickable order-spacing" *ngFor="let order of orders" [order]="order" (click)="displayOrderStatus(order)"></app-order-status>
    </ng-container>
    <ng-template #loading>
      <div class="spinner-spacing">
        <div class="loading-spinner"></div>
        <p class="text-center">Loading Orders...</p>
      </div>
    </ng-template>
  </div>
</div>
  