.dashboard-container {
  display: flex;
  height: calc(100% - 66px);
  background-color: #222222;
}

.dashboard-column {
  display: flex;
  justify-content: center;
  height: calc(100% - 2px);
}

.large-column {
  width: 40%;
}

.small-column {
  width: 20%;
}

.dashboard-container, .dashboard-column {
  border: 1px solid #363636;
}

.logout-button {
  display: flex;
  font-size: 20px;
}

.dashboard-title {
  font-size: 20px;
}

.toolbar {
  background: #363636;
}
