<mat-toolbar class="toolbar">
  <span class="spacer"></span>
  <h1 class="spacer text-center dashboard-title">Employees Dashboard</h1>
  <div class="spacer logout-button">
    <span class="spacer"></span>
    <button e2e="logoutButton" color="warn" mat-raised-button (click)="logout()">Log Out</button>
  </div>
</mat-toolbar>
<div class="dashboard-container">
  <app-order-status-list class="dashboard-column large-column" [barId]="barId | async" [orders]="ordersInProgress | async"></app-order-status-list>
  <app-order-queue class="dashboard-column large-column" [barId]="barId | async" [orders]="newOrders | async"></app-order-queue>
  <app-employee-status-list class="dashboard-column small-column" [barId]="barId | async" [employees]="employees | async"></app-employee-status-list>
</div>
