<h2 mat-dialog-title>Personal Info</h2>
<mat-dialog-content>
  <form [formGroup]="personalForm">
    <mat-form-field>
      <input
        matInput
        formControlName="firstName"
        placeholder="First name"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="lastName"
        placeholder="Last name"
        required
      />
    </mat-form-field>
    <mat-form-field class="settings-list__field">
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="dob"
        placeholder="Choose a date"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
  </form>
  <p class="error">{{ errorMessage }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()">
    Save
  </button>
  <button mat-raised-button color="secondary" mat-dialog-close>
    Cancel
  </button>
</mat-dialog-actions>
