.start-order-button {
  width: 100%;
  height: 64px;
  font-size: 20px;
}

.queue {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.order-list {
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
}

.queue-title {
  margin: 0;
  padding: 20px 0px;
}
