.bars-container {
    background-image: url("/assets/admin-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: -1px;
    align-items: center;
    flex-direction: column;
    height: 90%;
  
    button {
      width: 150px;
      height: 40px;
      font-size: 18px;
  
      &:first-child {
        margin-top: 100px;
      }
      &:nth-child(2) {
        margin-top: 25px;
      }
    }
  }
  