<h2 mat-dialog-title class="text-center">Start Next Order</h2>
<mat-dialog-content>
  <div class="columns">
    <div class="drinks-list">
      <mat-accordion>
        <app-drink-info *ngFor="let drinkData of drinks | async" [drink]="drinkData"></app-drink-info>
      </mat-accordion>
    </div>
    <div class="employees-list">
      <div class="employee-container" *ngFor="let employee of employees | async">
        <div
          (click)="selectEmployee(employee)"
          [class.selected-employee]="selectedEmployee === employee"
          class="text-center employee accent"
        >
          {{employee.id}}
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <span class="spacer"></span>
  <button mat-raised-button [disabled]="!selectedEmployee" [mat-dialog-close]="selectedEmployee" color="primary">Start</button>
</mat-dialog-actions>
