:host /deep/ .mat-list-item-content {
  padding: 0 !important;
}
:host /deep/ .mat-form-field-empty.mat-form-field-label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

:host /deep/ .mat-form-field-underline {
  background-color: white;
}
:host /deep/ .mat-list-item {
  height: 150px !important ;
}

.search-form {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 5px;

  &__field {
    width: 75%;
    max-width: 425px;
    color: white;
  }
  &__input {
    color: white;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
