<ng-container *ngIf="(bars | async); let bars; else: loading">
  <form class="search-form">
    <mat-form-field class="search-form__field">
      <input
        type="text"
        placeholder="Search for bars"
        class="search-form__input"
        matInput
        [formControl]="barsSearchBar"
      />
    </mat-form-field>
  </form>
  ><app-bars-list [bars]="bars"></app-bars-list>
</ng-container>
<ng-template #loading
  ><div class="loading">
    <mat-spinner></mat-spinner></div
></ng-template>
