@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  margin: 0;
  padding: 0;
  background-color: #363636;
  color: white;
  width: 100%;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
}
mat-dialog-container {
  background: #363636 !important;
  color: white !important;
}
mat-bottom-sheet-container {
  background: #363636 !important;
  color: white !important;
}
:host /deep/ .mat-divider {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.text-center {
  text-align: center;
}

.accent {
  background-color: teal;
}

.spacer {
  flex: 1;
}

.success-snackbar {
  background-color: #44e78e;
}

.success-snackbar .mat-simple-snackbar {
  justify-content: center;
}

.error-snackbar {
  background-color: #ff5252;
}

.error-snackbar .mat-simple-snackbar {
  justify-content: center;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.spinner-spacing {
  margin-top: 20px;
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #3f51b5;
  border-top: 4px solid white;
  border-radius: 50%;
  margin: 0 auto;
  display: block;

  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
