@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
}
mat-dialog-container {
  background: #222222 !important;
  color: white !important;
}
mat-bottom-sheet-container {
  background: #222222 !important;
  color: white !important;
}
mat-divider {
  background-color: #b2b2b2 !important;
}
.mat-raised-button {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}
.mat-form-field-label {
  color: white !important;
}
.page-header {
  text-align: center;
  margin: 0;
  background-color: #333333;
  -webkit-box-shadow: 0 1px 5px #141414;
  -moz-box-shadow: 0 1px 5px #141414;
  box-shadow: 0 1px 5px #141414;
  position: relative;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}
.text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accent {
  background-color: teal;
}

.spacer {
  flex: 1;
}
.mat-focused .placeholder {
  color: transparent;
}
.success-snackbar {
  // background-color: #007c34;
  background-color: #01bd01;
}

.success-snackbar .mat-simple-snackbar {
  justify-content: center;
}

.error {
  color: #e00000;
  text-align: center;
}

.error-snackbar {
  background-color: #e00000;
}

.error-snackbar .mat-simple-snackbar {
  justify-content: center;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.spinner-spacing {
  margin-top: 20px;
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #3f51b5;
  border-top: 4px solid white;
  border-radius: 50%;
  margin: 0 auto;
  display: block;

  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
